
// Palette de base
$color-primary: #FF8811;
$color-body: #3C4367;
$color-secondary: #FFC107; 
$color-accent: #FF5722; 

// Texte et fond
$color-text: #FFFFFF; 
$color-text-secondary: #333333; 
$color-background: #282c34;

// Éléments UI
$color-link: #FFFFFF;
$color-link-hover: lighten($color-link, 20%);
$color-active: #FFEB3B; 
$color-active-border: #FFEB3B;
