@import '../../styles/colors.scss';

header {
    background-color: $color-primary;
    padding: 10px 0;
  
    nav {
      ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center;
  
        li {
          margin: 0 20px; 

          a {
            text-decoration: none;
            color: $color-link;
            font-weight: bold; 
  
            &:hover {
              color: $color-link-hover;
            }
          }

          &.active a {
            color: $color-active; 
            border-bottom: 2px solid $color-active-border; 
          }
        }
      }
    }
  }
